@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-rgb: rgb(255, 255, 255);
  --color-primary: #a1d4b1;
  --color-secondary: #dd4111;
  --color-tertiary: #f1a512;
}

body {
  color: var(--color-secondary);
  background: var(--color-primary);
}

.inset-box-shadow {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.splash-image {
  height: 20vh;
  width: 20vh;
  position: absolute;
  top: 22%;
  left: 16.5%;
  z-index: 1;
}
